
header {
    width:auto;
    font-family: 'Courier New';
}

body {
    display: block;
    margin-right: auto;
    margin-left: auto;
    animation: fadeIn 3s cubic-bezier(0.88, 1, 0.88, 1) forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

body{
    text-align: center;
    background-color: #f2dc8a;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1{
}

footer a{
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;

}
